

<div class="content-block">
<h1>{{event.message}}</h1>




<p>Duis ut mauris sollicitudin, venenatis nisi sed, luctus ligula.
		Phasellus blandit nisl ut lorem semper pharetra. Nullam tortor nibh,
		suscipit in consequat vel, feugiat sed quam. Nam risus libero, auctor
		vel tristique ac, malesuada ut ante. Sed molestie, est in eleifend
		sagittis, leo tortor ullamcorper erat, at vulputate eros sapien nec
		libero. Mauris dapibus laoreet nibh quis bibendum. Fusce dolor sem,
		suscipit in iaculis id, pharetra at urna. Pellentesque tempor congue
		massa quis faucibus. Vestibulum nunc eros, convallis blandit dui sit
		amet, gravida adipiscing libero.</p>
		
<a href="page_start" class="back link button button-big button-cancel">Back</a>
</div>

		