

<div class="statusbar-overlay"></div>

<div class="panel-overlay"></div>
<div class="appmenu-overlay open"></div>
<div class="appmenu"></div>
<div class="panel panel-left panel-reveal">
	<div class="content-block">
		<p><a data-page="page_start" href="#">Start</a></p>
		<p><a data-page="page_services" href="#">Services</a></p>
		<p><a data-page="page_about"  href="#">About</a></p>
	</div>
</div>



<div class="views tabs toolbar-through">

	<div id="view-1" class="view view-main" data-page="index-1">
		<div class="navbar">
			<div class="navbar-inner">
				<div class="center sliding" style=""></div>
				<div class="right"><a href="#" class="open-panel link icon-only"><i class="icon icon-bars-blue"></i></a></div>
			</div>
		</div>
		<div class="pages navbar-through toolbar-through">
			<div class="page-content"></div>
		</div>
	</div>

	<div class="toolbar tabbar tabbar-labels">
		<div class="toolbar-inner">
			<a href="page_start" class="navigate tab-link"><i
				class="icon tabbar-demo-icon-1"></i><span class="tabbar-label">Start</span></a><a
				href="page_services" class="navigate tab-link active"><i
				class="icon tabbar-demo-icon-2"></i><span class="tabbar-label">Services</span></a><a
				href="page_about" class="navigate tab-link"><i
				class="icon tabbar-demo-icon-3"></i><span
				class="tabbar-label">About</span></a> 
				
		
		</div>
	</div>
</div>

<div class="popup" style="display: none;">
	<div class="view navbar-fixed">
		<div class="page">
			<div class="navbar">
				<div class="navbar-inner">
					<div class="center" style="">Popup Title</div>
					<div class="right">
						<a href="#" class="link close-popup">Done</a>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>


<div class="popover popover-page" style="">
	<div class="popover-angle on-top" style=""></div>
	<div class="popover-inner">
		<div class="list-block">
			<ul>
				<li><a href="start" class="list-button item-link">Modals</a></li>
				<li><a href="popover.html" class="list-button item-link">Popover</a></li>
				<li><a href="tabs.html" class="list-button item-link">Tabs</a></li>
				<li><a href="panels.html" class="list-button item-link">Side
						Panels</a></li>
				<li><a href="list-view.html" class="list-button item-link">List
						View</a></li>
				<li><a href="forms.html" class="list-button item-link">Forms</a></li>
			</ul>
		</div>
	</div>
</div>