<h1>Overview</h1>

<div class="list-block">
	<ul>
		{{#each events}}
		<li class="event" {{data 'model'}}>
			<div class="item-content">
				
				<div class="item-inner">
					<div class="item-title">{{id}} {{message}}</div>
				</div>
			</div>
		</li>
		{{/each}}
	</ul>
</div>
<div class="content-block row">

<a href="#"  class="button openpopup">Popup </a>
</div>