

<div class="statusbar-overlay"></div>

<div class="panel-overlay"></div>
<div class="appmenu-overlay open"></div>
<div class="appmenu"></div>
<div class="panel panel-left panel-reveal">
	<div class="content-block">
	
		<p><a href="/sida1" class="navigate">Start</a></p>
		<p><a href="/sida2" class="navigate">Sida 2</a></p>
		<p><a href="/sida3" class="navigate">Sida 3</a></p>
		
		<p><a href="page_services" class="navigate">Inställningar</a></p>
		<p><a href="page_about" class="navigate">Inställningar 2</a></p>
	</div>
</div>



<div class="views tabs toolbar-through">

	<div id="view-1" class="view view-main" data-page="index-1">
		<div class="navbar">
			<div class="navbar-inner">
				<div class="center sliding" style=""></div>
				<div class="right"><a href="#" class="open-panel link icon-only"><i class="icon icon-bars"></i></a></div>
			</div>
		</div>
		<div class="pages navbar-through toolbar-through">
			<div class="page-content"></div>
		</div>
	</div>

	<div class="toolbar tabbar tabbar-labels">
		<div class="toolbar-inner">
			<a href="/sida1" class="navigate">Start</a>
			<a href="/sida2" class="navigate">Sida 2</a>
			<a href="/sida3" class="navigate">Sida 3</a>
		
		</div>
	</div>
</div>

<div class="popup" style="display: none;">
	<div class="view navbar-fixed">
		<div class="page">
			<div class="navbar">
				<div class="navbar-inner">
					<div class="center" style="">Popup Title</div>
					<div class="right">
						<a href="#" class="link close-popup">Done</a>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>


<div class="popover popover-page" style="">
	<div class="popover-angle on-top" style=""></div>
	<div class="popover-inner">
		<div class="list-block">
			<ul>
				<li><a href="start" class="list-button item-link">Modals</a></li>
				<li><a href="popover.html" class="list-button item-link">Popover</a></li>
				<li><a href="tabs.html" class="list-button item-link">Tabs</a></li>
				<li><a href="panels.html" class="list-button item-link">Side
						Panels</a></li>
				<li><a href="list-view.html" class="list-button item-link">List
						View</a></li>
				<li><a href="forms.html" class="list-button item-link">Forms</a></li>
			</ul>
		</div>
	</div>
</div>